@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  color: #0d6efd;
}
/*  Nav Bar */
.navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.offcanvas {
  transition: transform 0.3s ease-in-out;
}

.offcanvas-body .nav-link:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
body {
  padding-top: 50px;
  background-color: rgb(220, 230, 249);
}

/* Light Mode (Default) */
body[data-theme="light"] {
  background-color: #f8f9fa;
  color: #212529;
}

body[data-theme="light"] .navbar {
  background-color: #343a40 !important;
}

body[data-theme="light"] .card {
  background-color: #fff;
  color: #212529;
}

/* Dark Mode */
body[data-theme="dark"] {
  background-color: #121212;
  color: #f8f9fa;
}

body[data-theme="dark"] .navbar {
  background-color: #1f1f1f !important;
}

body[data-theme="dark"] .card {
  background-color: #2a2a2a;
  color: #f8f9fa;
  border: 1px solid #444;
}

/* Buttons */
body[data-theme="dark"] .btn-primary {
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}

body[data-theme="light"] .btn-primary {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

body[data-theme="dark"] img.logo {
  filter: brightness(0.8);
}
